<!-- your html code here -->
<div class="container">
    <h3>Contact</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempor mi ac facilisis posuere. Pellentesque
        eget quam pellentesque, commodo nunc rutrum, fringilla dui.</p>
    <div class="mb-3">
        <div class="row row-cols-2">
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col"><label for="exampleFormControlInput1" class="form-label">Apellidos</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="correo@email.com">
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Enviar</button>
    </div>
</div>